  <div class="" >
            <form asp-controller="Home" asp-action="CreateRoom" >
               @* <button type="button" class="close" onclick="closeModal()">X</button>*@
                <header>Create Room</header>
                <div>
                    <input name="name">
                </div>
                <footer>
                    <button>Create</button>
                </footer>
            </form>
        </div>